

footer{
    background-color: black;
    margin: 0;
    color: crimson;
}

.title-1{
    
    position: relative;
    top: 5%;
    /* left: 45%; */
    width: 80%;
    font-size: 30px;
    font-weight: bold;
}
.title-1 input{
    height: 50px;
    width: 300px;
}

.date, .smile{
    border-color: rgba(230, 230, 250, 0.616);
    background-color: rgba(230, 230, 250, 0.616);
}

.smile{
    color: rgba(42, 42, 46, 0.884);
    /* 바 색갈 바꾸는 방법 */
}

textarea{
    width: 90%;
    height: 300px;
    padding: 10px;
    margin: 10px;
}


